div.section {
  color: white;
}
div.section.screen1 {
  background-color: #0D7661;
  text-align: center;
}
div.section.screen2 {
  background-color: #5FBBFC;
}
div.section.screen3 {
  background-color: #68D8CE;
}
h1.huge {
  font-size: 5em;
}
