<html>
    <head>
        <title>Sync Course 同步你的课程</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="font.css")}}">
        <link rel="stylesheet" href="{{ url_for('static', filename="index.css")}}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/jquery.fullPage.css")}}">
        <link rel="stylesheet" href="{{ url_for('static', filename="semantic.min.css") }}">
        <script src="{{ url_for('static', filename="jquery.min.js") }}"></script>
        <!-- // <script src="{{ url_for('static', filename="semantic.min.js") }}"></script> -->
        <script src="{{ url_for('static', filename="js/jquery.fullPage.min.js")}}"></script>

        <script>
        $(function(){
            $('#all').fullpage()
            $('#jump').click(function(){
                $.fn.fullpage.moveTo(3);
            })
            $('#qna').click(function(){
                $.fn.fullpage.moveTo(2);
            })
            $('form a').click(function(){
                var data = {}
                $('form').addClass('loading')
                $('form').serializeArray().forEach(function(i){
                    data[i.name] = i.value
                })
                $.post('/add_to_list', data, function(ret){
                    $('form').removeClass('loading')
                    $('.dimmer').addClass('active')
                })
            })
            
        })
        </script>
    </head>
    <body>
        <div id="all">
            <div class="screen1 section">
                <div class="page">
                    <h1 class="huge">Export Your Course!</h1>
                    <h2 class="sub header">Help you keep out with 超×课程表</h2>
                    <div class="ui buttons big">
                        <div class="ui inverted basic button" id="qna">How this work?</div>
                        <div class="or"></div>
                        <div class="ui positive button" id="jump">Export Now!</div>
                    </div>
                </div>
            </div>
            <div class="screen2 section">
                <div class="page grid" style="text-align:center">
                    <h1 class="huge columpagen">How this works?</h1>
                    <div class="ui divider"></div>
                    <div class="column">
                        <h1 class="header">No more any <i>课程×子</i> or <i>超级×程表!</i></h1>
                        <h3>We just offer your pure iCalendar file, which can be recognized by lots of Calendars,<br> and you won't be annoyed by the ADs or 下×聊.</h3>
                    </div>
                    <div class="ui divider"></div>
                    <div class="column">
                        <h1>Easy and simple</h1>
                        <h3>Just fill your school id and your password, you will receive a email in serveral minutes after we finished fetching and parsing the data.</h3>
                    </div>
                </div>
            </div>
            <div class="screen3 section">
                <div class="ui centered page grid">
                    <div class="ten wide column">
                        <form class="ui form segment ">
                            <h2 class="ui header">Fill the info to export your class table</h2>
                            <h4 class="ui dividing header">Account Infomation</h4>
                            <div class="tow fields">
                                <div class="eight wide field">
                                    <label>Student ID</label>
                                    <input type="text" name="username" placeholder="Your stu id, eg. 2014010101001">
                                </div>
                                <div class="eight wide field">
                                    <label>Password</label>
                                    <input type="password" name="password" placeholder="The password to login into portal.">
                                </div>
                            </div>
                            <div class="sixteen wide field">
                                <label>E-mail</label>
                                <input type="text" name="email" placeholder="The address is used to send the exported class table.">
                            </div>
                            <a class="fluid ui positive button">Submit</a>
                        </form>
                        <div class="ui dimmer">
                            <h2 class="ui inverted icon header" style="padding:2em;">
                                <i class="mail icon"></i>
                                You classtable will be exported and email to you at the first time!
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>